loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  schema_config:
    configs:
      - from: "2020-10-24"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  limits_config:
    retention_period: 720h
    ingestion_rate_mb: 16
    ingestion_burst_size_mb: 32
    max_query_parallelism: 32
    max_query_series: 500

# 使用单实例模式，不需要对象存储
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
  enabled: true

# 禁用其他部署模式
simpleScalable:
  enabled: false
  replicas: 0  # 必须设置为 0，否则会与 singleBinary 冲突
read:
  enabled: false
  replicas: 0
write:
  enabled: false
  replicas: 0
backend:
  enabled: false
  replicas: 0

persistence:
  enabled: true
  storageClassName: do-block-storage
  size: 50Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 2Gi

service:
  type: ClusterIP
  port: 3100

